.vscode
**/a.out
**/_minted-appel_dep
**/*.aux
**/*.log
**/*.synctex.gz
**/.*/
**/.project
**/.vitis_hls_log_all.xml
**/.vivado_hls_log_all.xml
**/csim
**/impl
**/syn
**/*_data.json
**/*.log
**/*.funcunit

**/onboard_processor_vivado/*
!**/onboard_processor_vivado/*.xpr
!**/onboard_processor_vivado/*.bit
!**/onboard_processor_vivado/*.xsa

**/onboard_processor_workspace_vitis/*.*
**/onboard_processor_workspace_vitis/onboard_processor_app_system
**/onboard_processor_workspace_vitis/onboard_processor_platform
**/onboard_processor_workspace_vitis/RemoteSystemsTempFiles
**/onboard_processor_workspace_vitis/onboard_processor_app/*
!**/onboard_processor_workspace_vitis/onboard_processor_app/src

